<%= form_for(@apprentice) do |f| %>
  <% if @apprentice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apprentice.errors.count, "error") %> prohibited this apprentice from being saved:</h2>

      <ul>
      <% @apprentice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <strong>Contact Info</strong><br /><br />

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.number_field :age %>
  </div>
  <br />
  <strong>Availability and Housing</strong><br /><br />

  Availability - Desired Working Dates*
  <br /><br />
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :room_and_board %><br />
    <%= f.number_field :room_and_board %>
  </div>
  <br />
  Willing to work at farms in the following counties*:
  <br /><br />
  <div class="field">
    <%= f.label :fairfield %><br />
    <%= f.check_box :fairfield %>
  </div>
  <div class="field">
    <%= f.label :hartford %><br />
    <%= f.check_box :hartford %>
  </div>
  <div class="field">
    <%= f.label :litchfield %><br />
    <%= f.check_box :litchfield %>
  </div>
  <div class="field">
    <%= f.label :middlesex %><br />
    <%= f.check_box :middlesex %>
  </div>
  <div class="field">
    New Haven<br />
    <%= f.check_box :newhaven %>
  </div>
  <div class="field">
    New London<br />
    <%= f.check_box :newlondon %>
  </div>
  <div class="field">
    <%= f.label :tolland %><br />
    <%= f.check_box :tolland %>
  </div>
  <div class="field">
    <%= f.label :windham %><br />
    <%= f.check_box :windham %>
  </div>
  <br />
  Would you be willing to go to a farm for an interview?
  <br /><br />
  <div class="field">
    Yes
    <%= f.check_box :interview %>
  </div>
  <br />
  Are you comfortable being the only apprentice on a farm?
  <br /><br />
  <div class="field">
    <%= f.label :only_apprentice %><br />
    <%= f.number_field :only_apprentice %>
  </div>
  <br />
  Explain any other details about your needs for housing, board, and willingness to travel to and from farms (For example, how far you would be willing to travel to a farm, flexibility about living at home or on-farm, etc.)
  <br /><br />
  <div class="field">
    <%= f.label :housing_details %><br />
    <%= f.text_area :housing_details %>
  </div>
  <br />
  My desired time commitment is:
  <br /><br />
  <div class="field">
    <%= f.label :commitment %><br />
    <%= f.number_field :commitment %>
  </div>
  <br />
  Please specify your desired schedule* (fulltime, living on farm, mornings only, weekend, weekdays, etc.)
  <br /><br />
  <div class="field">
    <%= f.label :schedule %><br />
    <%= f.text_area :schedule %>
  </div>
  <div class="field">
    Do you have your own means of transportation?<br />
    <%= f.check_box :transportation %>
  </div>
  <div class="field">
    Can you drive a manual transimssion?<br />
    <%= f.check_box :manual_transmission %>
  </div>
  <br />
  <strong>Farm Experience and Interest</strong><br /><br />
  <div class="field">
    Why are you seeking an apprenticeship on an organic farm in Connecticut?<br />
    <%= f.text_area :why_apprentice %>
  </div>
  <br />
  Choose the types of farms you are interested in working on:
  <br /><br />
  <div class="field">
    <%= f.label :csa %><br />
    <%= f.check_box :csa %>
  </div>
  <div class="field">
    <%= f.label :dairy %><br />
    <%= f.check_box :dairy %>
  </div>
  <div class="field">
    <%= f.label :diversified %><br />
    <%= f.check_box :diversified %>
  </div>
  <div class="field">
    <%= f.label :farm_to_institution %><br />
    <%= f.check_box :farm_to_institution %>
  </div>
  <div class="field">
    <%= f.label :field_crops %><br />
    <%= f.check_box :field_crops %>
  </div>
  <div class="field">
    <%= f.label :livestock %><br />
    <%= f.check_box :livestock %>
  </div>
  <div class="field">
    <%= f.label :orchard %><br />
    <%= f.check_box :orchard %>
  </div>
  <div class="field">
    <%= f.label :organic %><br />
    <%= f.check_box :organic %>
  </div>
  <div class="field">
    <%= f.label :upick %><br />
    <%= f.check_box :upick %>
  </div>
  <div class="field">
    <%= f.label :vegetables %><br />
    <%= f.check_box :vegetables %>
  </div>
  <div class="field">
    <%= f.label :community_farm %><br />
    <%= f.check_box :community_farm %>
  </div>
  <div class="field">
    <%= f.label :other %><br />
    <%= f.check_box :other %>
  </div>
  <div class="field">
    Please describe your farm experience:<br />
    <%= f.number_field :farm_experience %>
  </div>
  <div class="field">
    Provide a brief summary of your work experience, both paid and volunteer, on and off far, within the past 5-8 years<br />
    <%= f.text_area :work_experience %>
  </div>
  <div class="field">
    What has led you to want to work and/or learn on a farm?<br />
    <%= f.text_area :led_to_work %>
  </div>
  <div class="field">
    Explain your interest in being an apprentice and how this traning will fit into future plans.<br />
    <%= f.text_area :interest_in_apprentice %>
  </div>
  <div class="field">
    Are you prepared for a job that can require repetitive, uncomfortable and/or strenuous tasks? Discuss any challenging physical activity done in recent years. Please explain any relevant medical conditions, physical limitations, emotional or psychological issues that will affect your ability to do farm work.<br />
    <%= f.text_area :prepared %>
  </div>
  <div class="field">
    Use this space to tell potential host farmers more about yourself and what you bring to a working and living situation.<br />
    <%= f.text_area :what_you_bring %>
  </div>
  <div class="field">
    <%= f.label :references %><br />
    <%= f.text_area :references %>
  </div>
  <div class="field">
    <%= f.label :bedroom_sharing %><br />
    <%= f.check_box :bedroom_sharing %>
  </div>
  <div class="field">
    <%= f.label :bathroom_sharing %><br />
    <%= f.check_box :bathroom_sharing %>
  </div>
  <div class="field">
    <%= f.label :rooming_needs %><br />
    <%= f.text_area :rooming_needs %>
  </div>
  <div class="field">
    <%= f.label :smoker %><br />
    <%= f.check_box :smoker %>
  </div>
  <div class="field">
    <%= f.label :food_restrictions %><br />
    <%= f.text_area :food_restrictions %>
  </div>
  <div class="field">
    <%= f.label :three_things %><br />
    <%= f.text_area :three_things %>
  </div>
  <div class="field">
    <%= f.label :heard_about %><br />
    <%= f.text_area :heard_about %>
  </div>
  <div class="field">
    <%= f.label :ctnofa_member %><br />
    <%= f.check_box :ctnofa_member %>
  </div>
  <div class="field">
    <%= f.label :agreement_a %><br />
    <%= f.check_box :agreement_a %>
  </div>
  <div class="field">
    <%= f.label :agreement_b %><br />
    <%= f.check_box :agreement_b %>
  </div>
  <div class="field">
    <%= f.label :agreement_c %><br />
    <%= f.check_box :agreement_c %>
  </div>
  <div class="field">
    <%= f.label :agreement_d %><br />
    <%= f.check_box :agreement_d %>
  </div>
  <div class="field">
    <%= f.label :agreement_e %><br />
    <%= f.check_box :agreement_e %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
