<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @apprentice.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @apprentice.last_name %>
</p>

<p>
  <b>Street:</b>
  <%= @apprentice.street %>
</p>

<p>
  <b>City:</b>
  <%= @apprentice.city %>
</p>

<p>
  <b>State:</b>
  <%= @apprentice.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @apprentice.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= @apprentice.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @apprentice.email %>
</p>

<p>
  <b>Gender:</b>
  <%= @apprentice.gender %>
</p>

<p>
  <b>Age:</b>
  <%= @apprentice.age %>
</p>

<p>
  <b>Start date:</b>
  <%= @apprentice.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @apprentice.end_date %>
</p>

<p>
  <b>Room and board:</b>
  <%= @apprentice.room_and_board %>
</p>

<p>
  <b>Fairfield:</b>
  <%= @apprentice.fairfield %>
</p>

<p>
  <b>Hartford:</b>
  <%= @apprentice.hartford %>
</p>

<p>
  <b>Litchfield:</b>
  <%= @apprentice.litchfield %>
</p>

<p>
  <b>Middlesex:</b>
  <%= @apprentice.middlesex %>
</p>

<p>
  <b>Newhaven:</b>
  <%= @apprentice.newhaven %>
</p>

<p>
  <b>Newlondon:</b>
  <%= @apprentice.newlondon %>
</p>

<p>
  <b>Tolland:</b>
  <%= @apprentice.tolland %>
</p>

<p>
  <b>Windham:</b>
  <%= @apprentice.windham %>
</p>

<p>
  <b>Interview:</b>
  <%= @apprentice.interview %>
</p>

<p>
  <b>Only apprentice:</b>
  <%= @apprentice.only_apprentice %>
</p>

<p>
  <b>Housing details:</b>
  <%= @apprentice.housing_details %>
</p>

<p>
  <b>Commitment:</b>
  <%= @apprentice.commitment %>
</p>

<p>
  <b>Schedule:</b>
  <%= @apprentice.schedule %>
</p>

<p>
  <b>Transportation:</b>
  <%= @apprentice.transportation %>
</p>

<p>
  <b>Manual transmission:</b>
  <%= @apprentice.manual_transmission %>
</p>

<p>
  <b>Why apprentice:</b>
  <%= @apprentice.why_apprentice %>
</p>

<p>
  <b>Csa:</b>
  <%= @apprentice.csa %>
</p>

<p>
  <b>Dairy:</b>
  <%= @apprentice.dairy %>
</p>

<p>
  <b>Diversified:</b>
  <%= @apprentice.diversified %>
</p>

<p>
  <b>Farm to institution:</b>
  <%= @apprentice.farm_to_institution %>
</p>

<p>
  <b>Field crops:</b>
  <%= @apprentice.field_crops %>
</p>

<p>
  <b>Livestock:</b>
  <%= @apprentice.livestock %>
</p>

<p>
  <b>Orchard:</b>
  <%= @apprentice.orchard %>
</p>

<p>
  <b>Organic:</b>
  <%= @apprentice.organic %>
</p>

<p>
  <b>Upick:</b>
  <%= @apprentice.upick %>
</p>

<p>
  <b>Vegetables:</b>
  <%= @apprentice.vegetables %>
</p>

<p>
  <b>Community farm:</b>
  <%= @apprentice.community_farm %>
</p>

<p>
  <b>Other:</b>
  <%= @apprentice.other %>
</p>

<p>
  <b>Farm experience:</b>
  <%= @apprentice.farm_experience %>
</p>

<p>
  <b>Work experience:</b>
  <%= @apprentice.work_experience %>
</p>

<p>
  <b>Led to work:</b>
  <%= @apprentice.led_to_work %>
</p>

<p>
  <b>Interest in apprentice:</b>
  <%= @apprentice.interest_in_apprentice %>
</p>

<p>
  <b>Prepared:</b>
  <%= @apprentice.prepared %>
</p>

<p>
  <b>What you bring:</b>
  <%= @apprentice.what_you_bring %>
</p>

<p>
  <b>References:</b>
  <%= @apprentice.references %>
</p>

<p>
  <b>Bedroom sharing:</b>
  <%= @apprentice.bedroom_sharing %>
</p>

<p>
  <b>Bathroom sharing:</b>
  <%= @apprentice.bathroom_sharing %>
</p>

<p>
  <b>Rooming needs:</b>
  <%= @apprentice.rooming_needs %>
</p>

<p>
  <b>Smoker:</b>
  <%= @apprentice.smoker %>
</p>

<p>
  <b>Food restrictions:</b>
  <%= @apprentice.food_restrictions %>
</p>

<p>
  <b>Three things:</b>
  <%= @apprentice.three_things %>
</p>

<p>
  <b>Heard about:</b>
  <%= @apprentice.heard_about %>
</p>

<p>
  <b>Ctnofa member:</b>
  <%= @apprentice.ctnofa_member %>
</p>

<p>
  <b>Agreement a:</b>
  <%= @apprentice.agreement_a %>
</p>

<p>
  <b>Agreement b:</b>
  <%= @apprentice.agreement_b %>
</p>

<p>
  <b>Agreement c:</b>
  <%= @apprentice.agreement_c %>
</p>

<p>
  <b>Agreement d:</b>
  <%= @apprentice.agreement_d %>
</p>

<p>
  <b>Agreement e:</b>
  <%= @apprentice.agreement_e %>
</p>

<p>
  <b>Username:</b>
  <%= @apprentice.username %>
</p>

<p>
  <b>Password:</b>
  <%= @apprentice.password %>
</p>


<%= link_to 'Edit', edit_apprentice_path(@apprentice) %> |
<%= link_to 'Back', apprentices_path %>
