<!DOCTYPE html>
<html>
<head>
  <title>ApprenticeFarmers</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <div class="row">
    <%= render :partial => 'global/header' %>
  </div>

  <div class="row">
    <%= render :partial => 'global/sidebar' %>
    <%= yield %>
  </div>

  <div class="row">
    <%= render :partial => 'global/footer' %>
  </div>

</div>
</body>
</html>
