<!DOCTYPE html>
<html>
<head>
  <title>ApprenticeFarmers</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= image_tag("ctnofa_logo.jpg") %>
<%= yield %>

</body>
</html>
